@import "../../index.scss";

.main-section-container {
    background: $white;
    transition: all 0.3s;
    min-height: 40vh;

    h3  {
        color: $regular-violet;
        text-align: center;
        padding: 80px 0px 20px;
        font-size: 24px;
        font-weight: 400;
    }
    
    .show-content {
        display: block;
        text-align: center;
    }

    .hide-content {
        display: none;
    }

    .no-results-wrapper {
        margin: auto;

        .no-results-text {
            color: $regular-violet;
            font-size: 20px;
            font-weight: bold;
            padding: 10px;
        }

        img {
            width: 400px;
        }
    }

    .main-section-gifs-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        .main-section-gifs-row {
            img {
                padding: 30px;
                width: 200px;
            }
        }
    }

}

.dark-mode-main {
    background: $black;

    h3 {
        color: $turquoise;
    }

    .no-results-wrapper {
        .no-results-text {
            color: $turquoise;
        }
    }

}