@import "../../index.scss";

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: $regular-violet;
    font-weight: bold;
    padding: 50px 50px 10px;
    transition: all 0.3s;
    background-color: $white;

    img {
        padding: 7px;
    }
}

.dark-mode-footer {
    background-color: $black;
    color: $turquoise;
}